<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white border-bottom py-3">
  <div class="container py-1">
    <a class="navbar-brand text-lg fw-bold" style="color: red;" class="logo" href="/">Keeping Things Simple !</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation"><span></span><span></span><span></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
        <li class="nav-item"><a class="nav-link " href="/">Trang chủ</a></li>
        <li class="nav-item"><a class="nav-link b" href="/blog">Bài viết</a></li>
        {{!-- <li class="nav-item"><a class="nav-link" href="/post">Tin tức</a></li> --}}
        <li class="nav-item"><a class="nav-link" href="/contact">Liên hệ</a></li>
        <li class="nav-item"><a class="nav-link " href="/register">Đăng kí</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Đăng nhập</a></li>
        <li id="user-section" class="nav-item dropdown" style="display: none;">
          <a class="btn  dropdown-toggle" style="color: black; font-weight:600" role="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            <img class="user-avatar" src="{{user.avatar}}">
            {{user.name}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/profile/{{user.id}}">Hồ sơ</a></li>
            <li><a class="dropdown-item" href="/me/stored/blogs">Bài viết của tôi</a></li>
            <li><a class="dropdown-item" href="/blog/create">Viết bài</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><button id="logoutButton" class="dropdown-item">Đăng xuất</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="search-area">
  <div class="search-area-inner d-flex align-items-center justify-content-center position-relative">
    <div class="close-btn position-absolute p-4 top-0 end-0 cursor-pointer z-index-20"><i class="fas fa-times"></i>
    </div>
    <div class="row d-flex justify-content-center w-100">
      <div class="col-md-8">
        <form method="POST" action="/search">
          <div class="input-group border-bottom ">
            <input name="q" class="form-control form-control-lg border-0 shadow-0 ps-0 bg-none px-0" type="search"
              placeholder="What are you looking for?" />
            <button class="btn btn-link btn-lg shadow-0 btn-lg text-dark" type="submit"><i class="fas fa-search"
                style="font-size: 26px;"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{!-- the end header 1 --}}

<script>

  // Check if user.id exists

  const dropdownButton = document.querySelector('.dropdown-toggle');
  const dropdownContent = document.querySelector('.dropdown-menu');

  // Add a click event listener to the dropdown button
  dropdownButton.addEventListener('click', function () {
    // Toggle the display of the dropdown content
    if (dropdownContent.style.display === 'block') {
      dropdownContent.style.display = 'none';
    } else {
      dropdownContent.style.display = 'block';
    }
  });
</script>
<script>
  let user = "{{user}}";
  if (user) {
    // User is logged in, hide register and login links
    const registerLink = document.querySelector('a[href="/register"]');
    const loginLink = document.querySelector('a[href="/login"]');
    const userSection = document.getElementById('user-section')
    if (registerLink && loginLink) {
      registerLink.style.display = 'none';
      loginLink.style.display = 'none';
      userSection.style.display = 'block'
    }
  }
  // Xử lý sự kiện khi người dùng nhấp vào nút đăng xuất
  function removeCookie(){
    // Xóa cookie
    document.cookie = "accessToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    document.cookie = "refreshToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    // Chuyển hướng người dùng đến trang đăng nhập
    window.location.href = "/login";
  }
  document.getElementById("logoutButton").addEventListener("click",removeCookie);
  

</script>