<section class="py-5">
  <div class="container">
    <div class="row gy-5">
      <!-- Latest Posts -->
      <main class="col-lg-8">
        <div class="container"><img
            class="img-fluid w-100 mb-4"
            src="img/blog-post-3.jpeg"
            alt="..."
          />
          <ul class="list-inline mb-3">
            <li class="list-inline-item"><a
                class="text-uppercase"
                href="!#"
              >Business</a></li>
            <li class="list-inline-item"><a
                class="text-uppercase"
                href="!#"
              >Technology</a></li>
          </ul>
          <h1 class="mb-4">Diversity in Engineering: The Effect on Questions<a
              href="!#"
            ><i class="fa fa-bookmark-o"></i></a></h1>
          <ul class="list-inline list-separated text-gray-500 mb-5">
            <li class="list-inline-item"><a
                class="d-flex align-items-center flex-wrap text-reset"
                href="!#"
              >
                <div class="avatar flex-shrink-0"><img
                    class="img-fluid"
                    src="img/avatar-1.jpg"
                    alt="..."
                  /></div><small>John Doe</small></a></li>
            <li class="list-inline-item small"><i class="far fa-clock"></i>
              2 months ago</li>
            <li class="list-inline-item small"><i class="far fa-comment"></i>
              12</li>
          </ul>
          <div class="post-body">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="mb-4"><img
                class="img-fluid"
                src="img/featured-pic-3.jpeg"
                alt="..."
              /></p>
            <h3>Lorem Ipsum Dolor</h3>
            <p class="mb-4">div Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Assumenda temporibus iusto voluptates deleniti
              similique rerum ducimus sint ex odio saepe. Sapiente quae pariatur
              ratione quis perspiciatis deleniti accusantium</p>
            <div class="border-start border-4 mb-3">
              <figure class="border p-4">
                <blockquote class="blockquote">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip.</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0">Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </figcaption>
              </figure>
            </div>
            <p>quasi nam. Libero dicta eum recusandae, commodi, ad, autem at ea
              iusto numquam veritatis, officiis. Accusantium optio minus,
              voluptatem? Quia reprehenderit, veniam quibusdam provident, fugit
              iusto ullam voluptas neque soluta adipisci ad.</p>
          </div>
          <ul class="list-inline mb-5">
            <li class="list-inline-item"><a
                class="tag"
                href="!#"
              >#Business</a></li>
            <li class="list-inline-item"><a
                class="tag"
                href="!#"
              >#Tricks</a></li>
            <li class="list-inline-item"><a
                class="tag"
                href="!#"
              >#Financial</a></li>
            <li class="list-inline-item"><a
                class="tag"
                href="!#"
              >#Economy</a></li>
          </ul>
          <div
            class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row mb-5"
          ><a class="prev-post text-start d-flex align-items-center" href="!#">
              <div class="icon prev"><i class="fas fa-angle-left"></i></div>
              <div class="text"><strong class="text-primary">Previous Post
                </strong>
                <h6>I Bought a Wedding Dress.</h6>
              </div></a><a
              class="next-post text-end d-flex align-items-center justify-content-end"
              href="!#"
            >
              <div class="text"><strong class="text-primary">Next Post </strong>
                <h6>I Bought a Wedding Dress.</h6>
              </div>
              <div class="icon next"><i class="fas fa-angle-right">
                </i></div></a></div>
          <div class="mb-5">
            <header>
              <h3 class="h6 mb-4">Post Comments<span
                  class="fw-light text-gray-600 small ms-2"
                >(3)</span></h3>
            </header>
            <div class="d-flex align-items-start"><img
                class="img-fluid rounded-circle flex-shrink-0"
                src="img/user.svg"
                alt="Jabi Hernandiz"
                width="50"
              />
              <div class="pb-4 ms-3 border-bottom mb-4"><strong>Jabi Hernandiz</strong>
                <p class="small text-gray-500">May 2016</p>
                <p class="mb-0 text-sm">Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
            </div>
            <div class="d-flex align-items-start"><img
                class="img-fluid rounded-circle flex-shrink-0"
                src="img/user.svg"
                alt="Nikolas"
                width="50"
              />
              <div class="pb-4 ms-3 border-bottom mb-4"><strong>Nikolas</strong>
                <p class="small text-gray-500">May 2016</p>
                <p class="mb-0 text-sm">Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
            </div>
            <div class="d-flex align-items-start"><img
                class="img-fluid rounded-circle flex-shrink-0"
                src="img/user.svg"
                alt="John Doe"
                width="50"
              />
              <div class="pb-4 ms-3 true"><strong>John Doe</strong>
                <p class="small text-gray-500">May 2016</p>
                <p class="mb-0 text-sm">Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <header>
              <h3 class="h6 mb-4">Leave a reply</h3>
            </header>
            <form action="#">
              <div class="row gy-3">
                <div class="col-md-6">
                  <div class="border-bottom">
                    <input
                      class="form-control px-0 border-0 shadow-0"
                      type="text"
                      name="username"
                      id="username"
                      placeholder="Name"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="border-bottom">
                    <input
                      class="form-control px-0 border-0 shadow-0"
                      type="email"
                      name="username"
                      id="useremail"
                      placeholder="Email Address (will not be published)"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="border-bottom">
                    <textarea
                      class="form-control px-0 border-0 shadow-0"
                      rows="5"
                      name="usercomment"
                      id="usercomment"
                      placeholder="Type your comment"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-secondary" type="submit">Submit Comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
      <aside class="col-lg-4">
        <!-- Widget [Search Bar Widget]-->
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="h6">Search the blog</h3>
            <form method="post" action="/search">
              <div class="input-group border-bottom">
                <input
                  class="form-control border-0 shadow-0 ps-0"
                  type="search"
                  placeholder="What are you looking for?"
                />
                <button
                  class="btn btn-link btn-sm shadow-0 px-0"
                  type="submit"
                ><i class="fas fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <!-- Widget [Latest Posts Widget]        -->
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="h6 mb-3">Latest Posts</h3><a
              class="text-reset mb-3"
              href="!#"
            >
              <div class="d-flex align-items-center"><img
                  class="img-fluid flex-shrink-0"
                  src="img/small-thumbnail-1.jpg"
                  alt="..."
                  width="55"
                />
                <div class="ms-3">
                  <p class="mb-2 fw-bold text-gray-700 lh-1">Alberto Savoia Can
                    Teach You About</p>
                  <ul
                    class="list-inline list-separated text-gray-500 d-flex align-items-center"
                  >
                    <li class="list-inline-item small"><i
                        class="far fa-eye"
                      ></i>
                      500</li>
                    <li class="list-inline-item small"><i
                        class="far fa-comment"
                      ></i>
                      12</li>
                  </ul>
                </div>
              </div></a><a class="text-reset mb-3" href="!#">
              <div class="d-flex align-items-center"><img
                  class="img-fluid flex-shrink-0"
                  src="img/small-thumbnail-2.jpg"
                  alt="..."
                  width="55"
                />
                <div class="ms-3">
                  <p class="mb-2 fw-bold text-gray-700 lh-1">Alberto Savoia Can
                    Teach You About</p>
                  <ul
                    class="list-inline list-separated text-gray-500 d-flex align-items-center"
                  >
                    <li class="list-inline-item small"><i
                        class="far fa-eye"
                      ></i>
                      500</li>
                    <li class="list-inline-item small"><i
                        class="far fa-comment"
                      ></i>
                      12</li>
                  </ul>
                </div>
              </div></a><a class="text-reset" href="!#">
              <div class="d-flex align-items-center"><img
                  class="img-fluid flex-shrink-0"
                  src="img/small-thumbnail-3.jpg"
                  alt="..."
                  width="55"
                />
                <div class="ms-3">
                  <p class="mb-2 fw-bold text-gray-700 lh-1">Alberto Savoia Can
                    Teach You About</p>
                  <ul
                    class="list-inline list-separated text-gray-500 d-flex align-items-center"
                  >
                    <li class="list-inline-item small"><i
                        class="far fa-eye"
                      ></i>
                      500</li>
                    <li class="list-inline-item small"><i
                        class="far fa-comment"
                      ></i>
                      12</li>
                  </ul>
                </div>
              </div></a>
          </div>
        </div>
        <!-- Widget [Categories Widget]-->
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="h6 mb-3">Categories</h3>
            <div
              class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"
            ><a class="text-reset" href="!#">Growth</a><span>12</span></div>
            <div
              class="p-2 d-flex justify-content-between fw-bold text-gray-600 1"
            ><a class="text-reset" href="!#">Local</a><span>25</span></div>
            <div
              class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"
            ><a class="text-reset" href="!#">Sales</a><span>8</span></div>
            <div
              class="p-2 d-flex justify-content-between fw-bold text-gray-600 1"
            ><a class="text-reset" href="!#">Tips</a><span>17</span></div>
            <div
              class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"
            ><a class="text-reset" href="!#">Local</a><span>25</span></div>
          </div>
        </div>
        <!-- Widget [Tags Cloud Widget]-->
        <div class="card">
          <div class="card-body">
            <h3 class="h6 mb-3">Tags</h3>
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a class="tag" href="!#">#Business
                </a></li>
              <li class="list-inline-item"><a class="tag" href="!#">#Fashion
                </a></li>
              <li class="list-inline-item"><a class="tag" href="!#">#Sports
                </a></li>
              <li class="list-inline-item"><a class="tag" href="!#">#Technology
                </a></li>
              <li class="list-inline-item"><a class="tag" href="!#">#Economy
                </a></li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>