<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png"
    href="https://res.cloudinary.com/dgvam9b0p/image/upload/v1691337978/blog_cloud/letterways_dbcmjz.png">
  <title>Duke's Blogs</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i&subset=cyrillic"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- Vendor CSS Files -->


  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="shortcut icon" href="favicon.png">
  <script src="https://cdn.ckeditor.com/4.23.0-lts/standard/ckeditor.js"></script>
  
</head>

<body>
  <div class="app">
    <div class="header">
      {{> header}}
    </div>
    <div style="margin-top:70px">
      {{{body}}}
    </div>
    <div class="footer">
      {{> footer}}
    </div>
  </div>
  <!-- JavaScript files-->
</body>

<!-- Vendor JS Files -->
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/typed.js/typed.umd.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>


</html>